{% extends 'dashboard/main.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login Page{% endblock %}
{% block content %}
    <body class="bg-light">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-4 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <a class="nav-link" href="{% url 'main' %}">
                                    <i class="far fa-window-close" style="position:absolute;top:0;right:0;color:red;"></i>
                                    </a>


                                    <div class="card-body">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
                                                <button class="btn btn-secondary" type="submit" id="submit">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">Need an account?<a href="{% url 'register' %}">Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
{% endblock %}
