{% extends 'dashboard/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}Password Recovery Page{% endblock %}
{% block content %}
    <body class="bg-light">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-4 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3>
                                        <a class="nav-link" href="{% url 'main' %}">
                                        <i class="far fa-window-close" style="position:absolute;top:0;right:0;color:red;"></i>
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                        <form method="POST">
                                            {% csrf_token %}
                                            <fieldset class="form-group">
                                            <legend class="border-bottom mb-4">Reset Password</legend>
                                             {{ form|crispy }}
                                            <br>
                                            </fieldset>
                                            <div class="form-group">
                                            <button class="btn btn-secondary" type="submit">Request Password Reset</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small">Need an account?  <a href="{% url 'register' %}"> Sign up!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
{% endblock %}
